@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');


:root {
    --bg-color: rgb(229, 226, 226);
    --project-bg-color: rgba(229, 226, 226, 1);
    --shadow: 0px 5px 10px black;
    background-color: var(--bg-color);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.about-container {
    align-items: center;
    animation: fadeIn90 ease 0.3s;
    background: var(--bg-color);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2%;
    opacity: .90;
    padding: 2%;
    width: 60%;
    z-index: 1;
}
.about-pic {
    border-radius: 50%;
    align-items: center;
    justify-self: center;
    height: 200px;
    margin-top: 5%;
    width: 200px;
    object-fit: cover;
}
.about-text-container {
    background: white;
    display: grid;
    padding: 2%;
    width: 90%;
}
.about-text-container p {
    display: flex;
    font-size: 1.2em;
    line-height: 150%;
    margin: 2% 0;
    text-indent: 2em;
}
.app {
    display: flex;
}
.btn-contact {
    background: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
    justify-self: center;
    letter-spacing: 2px;
    padding: 2%;
    transition-duration: 0.3s;
    width: 30%;
}
.btn-contact:hover {
    color: black;
}
.btn-repo {
    background: red;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    display: grid;
    font-weight: bold;
    justify-content: center;
    padding: 2%;
    position: relative;
    margin: 2%;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    width: 30%;
    
}
.btn-repo:hover {
    color: black;
}
.btn-contact, .contact-email, .contact-name, .contact-phone, .contact-msg {
    border: none;
    border-radius: 2px;
    background-color: --bg-color;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    margin-bottom: 5%;
}
.contact-body {
    display: flex;
    width: 100%;
}
.contact-form {
    animation: fadeIn90 0.3s ease; 
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    display: grid;
    align-items: center;
    height: auto;
    opacity: .95;
    position: absolute;
    width: 40vw;
}
.contact-info {
    align-items: center;
    background: rgb(224, 220, 220);
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding-top: 15%;
    width: 40%;
}
.contact-info label {
    color: red;
    font-weight: bold;
    margin-bottom: 5%;
}
.contact-info p {
    margin-bottom: 25%;
}
.contact-form h1 {
    background: darkgrey;
    padding: 5%;
    text-align: center;
}
.contact-form-content {
    display: grid;
    padding: 5%;
    padding-bottom: 0;
    width: 60%;
}
.contact-form-content label {
    margin-bottom: 1%; 
}
.contact-form-content input {
    margin-bottom: 2%;
    padding: 1%;
    width: 80%;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.contact-container {
    align-items: center;
    height: auto;
    justify-content: center;
    padding: 0;
}
.contact-name-label::before {
    content: "* required field";
    color: red;
    display: grid;
    font-size: 0.85rem;
    margin-bottom: 5%;
}
.contact-name-label::after, 
.contact-email-label::after,
.contact-msg-label::after {
    color: red;
    content: " *";
    font-size: 0.85rem;
}
.contact-phone-label::after {
    content: " (ex. 123-456-7890)";
    font-size: 0.75rem;
}
.contact-msg {
    height: 25vh;
    padding: 1%;
    position: relative;
    resize: none;
}
.content-bg {
    height: 100%;
    opacity: .60;
    position: fixed;
    width: 100%;
}
#home-container {
    padding: 0%;
}
.home-line {
    animation: drawLine 1.2s ease forwards;
    border: none;
    background: black;
    height: 4px;
    margin: auto;
}
#home-name {
    animation: fadeIn 1.5s ease;
    font-size: 8em;
    margin: 2%;
    text-align: center;
}
#home-statement {
    animation: fadeIn 2.5s ease;
    font-size: 1.5rem;
    margin: 2%;
    text-align: center;
}
#home-text {
    background: rgba(255, 255, 255, 0.3);
    justify-items: center;
    letter-spacing: 5px;
    margin-top: 5%;
    padding: 5%;
    position: relative;
    word-spacing: 10px;
    width: 90%;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: black;
    border: 1px solid black;

    position: sticky;
    top: 0;
    z-index: 1;
}
.nav-link {
    text-align: center;
    position: relative;
    padding: 5%;
    text-decoration: none;
    color: grey;
    border: 1px solid black;
    font-size: 1.5rem;
    height: auto;
}
.nav-link:hover {
    border-color: white;
    color: white;
}
.project {
    animation: fadeIn ease 0.5s;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto; 
    position: relative;
    
    box-shadow: 0px 5px 10px black;
    background-color: var(--project-bg-color);
    padding: 5%;
    margin: 5%;
    padding-bottom: 0;
}
.proj-img-btn {
    background: white;
    border: none;
    border-radius: 25%;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    height: 10vh;
    opacity: .85;
    outline: none;
    padding: 5px;
    transition-duration: 0.2s;
    z-index: 1;
}
.proj-img-btn:hover {
    background: black;
    color: white;
}
.project-image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.project-image {
    animation: fadeIn 0.8s ease;
    height: 100%;
    object-fit: contain;
    width: 100%;
}
.project-info {
    background: lightgrey;
    border-radius: 10px;
    padding: 2%;
    position: relative;
    margin-left: 20%;
}
.project-info h1 {
    font-size: 2.75rem;
}
.project-info p {
    padding-top: 5%;
    font-size: 1.25rem;
}
.project-info-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}
.repo-buttons {
    display: flex;
    justify-content: center;
}
.resume {
    background: red;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    justify-self: center;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-bottom: 4%;
    width: auto;
}
.resume:hover {
    color: black;
}
.social-media {
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2%;
}
.social-media-icon {
    border: 1px solid white;
    background: white;
    height: 50px;
    object-fit: cover;
    padding: 10px;
    width: 50px;
}
.social-media-icon:hover {
    border: 1px solid black;
}
.tech-tag {
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin: 2%;
    padding: 3%;
    width: auto;
}
.tech-tag:hover {
    transform: scale(1.2);
}

@keyframes drawLine {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: 1;
        width: 70vw;
    }
}

@keyframes fadeIn90 {
    from {
        opacity: 0;
    }
    to {
        opacity: .90;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-height: 600px) {
    .nav-link {
        border: none;
    }
}

@media (max-width: 1200px) {

    :root {
        font-size: 12px;
    }
    .btn {
        font-size: 1.5rem;
        opacity: 1;
    }
    .btn-repo {
        
    }
    .contact-container {
        height: 80vh;
    }
    .content-container {
        min-height: 80vh;
        padding-top: 10vh;
        width: 100%;
    }
    .content-container h1 {
        text-align: center;
    }
    .contact-form {
        min-width: 446px;
    }
    .contact-info {
        font-size: 1.2rem;
    }
    #home-text {
        margin-top: 15vh;
    }
    #home-name {
        font-size: 6rem;
    }
    .nav-bar {
        position: fixed;
        z-index: 2;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        justify-content: center;
        align-items: center;
        
    }
    .nav-link {
        padding: 2% 2%;
    }
    .project {
        align-items: center;
        display: grid;
        grid-template-columns: 100%;
        height: auto;
        justify-items: center;
        padding: 10%;
        max-width: 450px;
    }
    .project-container {
        display: grid;
        justify-content: center;
    }
    .project-image-container {
        width: 100%;
        height: 100%;
    }
    .project-info {
        margin-left: 0;
        margin-top: 5%;
        align-self: center;
        text-align: center;
        width: 100%;
    }
    .repo-buttons {
        margin-top: 2%;
        width: 100%;
    }
    .tech-tag {
        padding: 1.5%;
    }
}