@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    font-size: 16px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.app {
    display: flex;
}
.btn {
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    height: 5vh;
    outline: none;
    padding: 5px;
    transition-duration: 0.2s;
    z-index: 1;
}
.btn:hover {
    background: black;
    color: white;
}
.content-container {
    background-color: rgb(229, 226, 226);
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 90%;
}
.home-container {
    padding: 0%;
}
#home-bg {
    height: 100vh;
    opacity: 60%;
    position: relative;
}
#home-text {
    letter-spacing: 5px;
    margin-top: 5%;
    position: absolute;
    word-spacing: 10px;
}
#home-greeting {
    animation: fadeIn 0.5s ease;
    font-size: 4rem;
    margin: 2%;
}
#home-name {
    animation: fadeIn 1.5s ease;
    font-size: 10rem;
    margin: 2%;
}
#home-statement {
    animation: fadeIn 2.5s ease;
    font-size: 4rem;
    margin: 2%;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    background-color: black;
    border: 1px solid black;

    position: sticky;
    top: 0;
}
.nav-link {
    text-align: center;
    position: relative;
    padding: 5%;
    text-decoration: none;
    color: grey;
    border: 1px solid black;
    font-size: 1.5rem;
    height: auto;
}
.nav-link:hover {
    border-color: white;
    color: white;
}
.project {
    display: flex;
    position: relative;
    
    box-shadow: 0px 5px 10px black;
    background-color: white;
    margin: 5%;
    padding: 5%;
}
.project-image-container {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: center;
    width: 75%;
}
.project-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 2%;
    animation: fadeIn 0.8s ease;
}
.project-info {
    padding: 8%;
    width: 25%;
}
.project-info h1 {
    font-size: 2.75rem;
}
.project-info p {
    padding-top: 5%;
    font-size: 1.25rem;
}
.project-info-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}
.tech-tag {
    background: lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    margin: 2%;
    padding: 3%;
}
.tech-tag:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@media (max-height: 600px) {
    .nav-link {
        border: none;
    }
}

@media (max-width: 1200px) {

    .content-container {
        height: 100%;
        padding-bottom: 10%;
        width: 100%;
    }
    .content-container h1 {
        text-align: center;
    }
    .nav-bar {
        position: fixed;
        z-index: 2;
        flex-direction: row;
        top: 90%;
        width: 100%;
        height: auto;
        bottom: 0;
        justify-content: center;
        align-items: center;
        
    }
    .nav-link {
        padding: auto;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .project {
        align-items: center;
        display: grid;
        height: auto;
        justify-items: center;
        padding: 8%;
    }
    .project-image-container {
        width: 100%;
        height: 100%;
    }
    .project-info {
        text-align: center;
        width: 100%;
    }
    .tech-tag {
        padding: 1.5%;
    }
}