:root {
    font-size: 16px;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}
.content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 77.5vw;
    height: 95vh;
    box-shadow: 0px 5px 10px black;
    background-color: white;
}
.content-container {
    width: 80%;
    height: 100vh;
    background-color: rgb(229, 226, 226);
}
.nav-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    background-color: black;
    border: 1px solid black;

    position: sticky;
    top: 0;
}
.nav-link {
    text-align: center;
    position: relative;
    padding: 5%;
    text-decoration: none;
    color: grey;
    border: 1px solid black;
    font-size: 1.5rem;
}
.nav-link:hover {
    border-color: white;
    color: white;
}